html,body{
    height: 100%;
    width: 100%;
}
.navbar{
    background-color: #23415C;
    color: white;
}
#home{
    background: url(a7.jpeg) no-repeat center center fixed;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    background-size: cover;
}
.landing{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.landing h1{
    font-size: 450%;
    font-weight: 700;
    color: red;
}
.landing h3{
    color: rgb(255, 51, 51);

}
.padding{
    padding: 80px 0;
}
.padding img{
    width: 100%;
}
#fixed{
    background: url(a2.jpg) no-repeat center fixed;
    display: table;
    height: 60%;
    position: relative;
    width: 100%;
    background-size: cover;
}
footer{
    width: 100%;
    background-color: #23415C;
    padding: 20px;
    color: white;
}
.lead{
    font-size: 20px;
}

@media(max-width: 764px){
    .landing h1{
        font-size: 300%;
    }
    footer{
        font-size: 20px;
        padding: 10px;
    }
}